{% extends 'base.html' %}

{% block content %}
    <H1>Booka</H1>
    <ul>
        <h2>{{user}}</h2>
        <button>Book Catalogue</button>
        <a href="{% url 'event:show_event' %}"><button>Book Event</button></a>

        <button>Book Review</button>
        <a href="{% url 'user_profile:show_profile' %}"><button>Profile</button></a>
        
    </ul>

    {% if user !=  'guest'%}
        <a href="{% url 'home:logout' %}"><button>Logout</button></a>
    {% else %}
        <a href="{% url 'home:login' %}"><button>Login</button></a>
    {% endif %}

{% endblock content %}