{% extends 'base.html' %}

{% block content %}
    <H1>Booka</H1>
    <ul>
        <h2>{{user}}</h2>
        <button>Book Catalogue</button>
        <button>Book Event</button>
        <a href="{% url 'review:get_reviews' %}"><button>Book Review</button></a>
        <a href="{% url 'user_profile:show_profile' %}"><button>Profile</button></a>
        
    </ul>

    {% if user !=  'guest'%}
        <a href="{% url 'home:logout' %}"><button>Logout</button></a>
    {% endif %}

{% endblock content %}