{% extends 'base.html' %}

{% block content %}
    <h1>Katalog Buku</h1>
    <ul>
        {% for book in tes %}
            <li>
                <img src="{{ book.book.image_url_large }}" alt="{{ book.book.title }} Image">
                <h2>{{ book.book.title }}</h2>
                <p>Penulis: {{ book.book.author }}</p>
                <p>Harga: {{ book.price }}</p>
                <a href="{% url 'catalogue:detail_book' book.book.pk %}">Lihat Detail</a>
                <form action="{% url 'catalogue:buy_book' book.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Beli</button>
                </form>
            </li>
        {% endfor %}
    </ul>

{% endblock content %}