<!-- Footer -->

<footer class="text-center text-lg-start bg-white text-muted"
style="background-image: url(https://img.freepik.com/free-photo/front-view-stacked-books-ladders-education-day_23-2149241046.jpg?w=1800&t=st=1698587538~exp=1698588138~hmac=a775cc3c55f6bcba8bc14c5e5518bd59354c6b34d125aea4d0752d24f3cf7a28);
background-repeat: no-repeat;
">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <!-- <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div> -->
      <!-- Left -->
  
      <!-- Right -->
      <!-- <div>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="fab fa-github"></i>
        </a>
      </div> -->
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="" >
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
                Booka
            </h6>
            <p>
                Di era digital yang terus berkembang, memperkenalkan Booka, aplikasi inovatif yang mendukung kecintaan Anda terhadap literatur. Booka hadir sebagai sahabat setia Anda untuk menjelajahi dunia literasi dengan cara yang tak terlupakan.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Our Services
            </h6>
            <p>
              <a href="{% url 'catalogue:show_catalogue' %}" class="text-reset">Book Catalogue</a>
            </p>
            <p>
              <a href="{% url 'review:get_reviews' %}" class="text-reset">Book Events</a>
            </p>
            <p>
              <a href="{% url 'review:get_reviews' %}" class="text-reset">Book Reviews</a>
            </p>
            <p>
              <a href="{% url 'user_profile:show_profile' %}" class="text-reset">Profile</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <!-- <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4"> -->
            <!-- Links -->
            <!-- <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div> -->
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Depok, Jawa Barat, Indonesia</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              hello@booka.id
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i>021 9876 543</p>
            <div>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 link-secondary">
                  <i class="fab fa-github"></i>
                </a>
              </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="color: white;">
      Made with 💖 by
      <a class="text-reset fw-bold" href="{% url 'home:show_home' %}"><b>booka</b></a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->