<nav class="navbar navbar-expand-lg bg-primary text-light px-4" style="position: sticky;width: 100%;top: 0;z-index: 99;">
    <div class="container-fluid">
        <a class="navbar-brand d-flex" href="{% url 'home:show_home' %}">
            <h2 class="text-bold" style="color: white;">Booka</h2>
        </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="{% url 'catalogue:show_catalogue' %}">Catalogue</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="{% url 'event:show_event' %}">Event</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="{% url 'review:get_reviews' %}">Reviews</a>
        </li>
    </ul>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle name" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="{% url 'user_profile:show_profile' %}">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a href="{% url 'home:logout' %}" class="dropdown-item text-danger" style="cursor: pointer;">Logout</a></li>
        </ul>
    </div>
    </div>
    </div>
</nav>